.pageStyles {
  color: #232129;
  padding-left: 96px;
  padding-right: 96px;
  padding-top: 25px;
  font-family: -apple-system, Roboto, sans-serif, serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.projectStyles{
  display: flex;
  width: 500px;
  height: 550px;
  margin-left: 100px;
  flex-direction: column;

}

.websiteAwsStyles {
  overflow: hidden;
}

.websiteAwsStyles img {
  max-width: 100%;
  height: auto;
}

@media only screen and (min-width: 320px) {
  .headingStyles {
    padding-left: 0px;
    justify-content: center
  }
  .projectStyles {
    margin-left: 125px;
  }
  .pageStyles {
    padding-left: 150px;
  }
  .listStyles {
    padding-left: 80px;
  }
  .horizontalStyles {
    display: block;
  }
  .pageStyles{
    overflow: hidden;
  }
}

@media only screen and (min-width: 768px) {
  .projectStyles {
    padding-left: 0px;
  }
  .verticalStyles {
    height: 691.5px;
  }
}
@media only screen and (min-width: 1024px) {
  .verticalStyles {
    height: 521.5px;
    margin-top: -50px;
  }
}


@media only screen and (min-width: 1440px) {
  .verticalStyles {
    margin-top: 0px;
    height: 521.5px;
  }
}


@media only screen and (max-width: 768px) {
  .pageStyles {
    flex-direction: column;
  }

  .bioStyles{
    width: 300px;
    padding-right: 50px;
  }

  .verticalStyles {
    display: none;
  }

  .horizontalStyles {
    display: block;
  }
}

@media only screen and (min-width: 768px) {
  .horizontalStyles {
    display: none;
  }
}

.headingStyles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 16px;
  max-width: 320px;
}

.headingAccentStyles {
  color: #663399;
}

.paragraphStyles {
  margin-bottom: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.listStyles {
  margin-bottom: 96px;
  padding-left: 0;
}

.listItemStyles {
  font-weight: 300;
  font-size: 24px;
  max-width: 560px;
  margin-bottom: 30px;
}

.bioStyles{
  width: 300px;
  padding-right: 50px;
}

@media only screen and (min-width: 1300px) {
  .bioStyles {
    margin-left: -200px;
  }
}


.linkStyle {
  color: #8954A8;
  font-weight: bold;
  font-size: 16px;
  vertical-align: 5%;
}

.descriptionStyle {
  color: #232129;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 0;
  line-height: 1.25;
}

.badgeStyle {
  color: #fff;
  background-color: #088413;
  border: 1px solid #088413;
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 4px;
  padding: 4px 6px;
  display: inline-block;
  position: relative;
  top: -2px;
  margin-left: 10px;
  line-height: 1;
}

